@import url('https://api.fonts.coollabs.io/css2?family=Nunito:wght@200..1000&display=swap');
body {
  font-family: 'Nunito', sans-serif;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 0;
}

.form-container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  /* padding: 20px; */
  border-radius: 8px;
  box-sizing: border-box;
}

/* Title styles */
h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
}

/* Form styles */
.feedback-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  color: #555;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

.submit-btn {
  padding: 10px 20px;
  background-color: rgba(37, 99, 235, 0.8);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submit-btn:hover {
  background-color: rgb(37, 99, 235);
}

/* Back link styles */
.back-link {
  text-align: center;
  margin-top: 10px;
}

.back-link a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .form-container {
    padding: 15px;
  }

  /* h1 {
    font-size: 20px;
  } */

  .submit-btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  .back-link a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  .submit-btn {
    font-size: 14px;
    padding: 8px 14px;
  }
}
